<!DOCTYPE html>
<html>
<head>
    <title><%= typeof title == "string" && title.trim().length > 0 ? title : "Nodejs Simple App" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is homepage">
    <meta name="author" content="tieuquetuu">

    <link rel="stylesheet" href="/libs/@fontawesome/fontawesome-pro/css/all.min.css" />
    <link rel="stylesheet" href="/static/animate.css/animate.min.css">
    <link rel="stylesheet" href="/static/swiper/dist/css/swiper.min.css" />
    <link rel="stylesheet" href="/css/theme.css" />
</head>
<body class="<%= typeof bodyClass == "string" && bodyClass.trim().length > 0 ? bodyClass : "" %>">

<!-- Header -->
<header id="header-main" class="header fixed-top">
    <!-- Nav -->
    <nav id="navbar-main" class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <!-- Brand logo -->
            <a class="navbar-brand mr-5" href="/">
                <img alt="Image placeholder" src="//demo.hangnhathoangquan.com/wp-content/uploads/2020/08/Logo-Dark.png" id="navbar-logo" style="width: 120px;">
            </a>
            <!-- Sidenav toggler -->
            <button class="sidenav-toggler ml-auto mr-3" type="button" data-action="sidenav-pin" data-target="#sidenav-main">
                <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                </div>
            </button>
            <!-- Search form -->
            <form class="navbar-search navbar-search-dark form-inline mr-sm-3 d-none" id="navbar-search-main">
                <div class="form-group mb-0">
                    <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input class="form-control" placeholder="Search" type="text">
                    </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </form>
            <!-- Navbar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!--<ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../docs/getting-started/installation.html">Getting started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../docs/components/index.html">Components</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../docs/changelog.html">What's new</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../docs/support.html">Support</a>
                    </li>
                </ul>-->

                <div class="mr-auto w-50">
                    <form action="" class="d-flex">
                        <input type="text" class="form-control form-control-sm form-control-emphasized" placeholder="Tìm kiếm ..." />
                        <button class="btn btn-sm btn-primary btn-icon d-none d-lg-inline-flex ml-2">
                            <span class="btn-inner--icon"><i class="fas fa-search"></i></span>
                        </button>
                    </form>
                </div>

                <a href="/account" class="btn btn-link btn-xl btn-icon
                text-center rounded-circle btn-icon-only d-none d-lg-inline-flex" data-toggle="tooltip"
                   data-original-title="Đăng Nhập">
                    <span class="btn-inner--icon mx-auto"><i class="fad fa-user-circle"></i></span>
                </a>
                <a href="/cart" class="btn btn-sm btn-outline-primary rounded-pill btn-icon d-none d-lg-inline-flex"
                   data-toggle="tooltip" data-original-title="Giỏ Hàng">
                    <span class="btn-inner--icon"><i class="fad fa-shopping-cart"></i></span>
                    <span class="btn-inner--text">Giỏ Hàng</span>
                </a>
            </div>
        </div>
    </nav>
</header>