<%- include('header') %>

<div class="main-content">
    <section class="header-account-page d-flex align-items-end" data-offset-top="#header-main">
        <!-- Header container -->
        <div class="container pt-4 pt-lg-0">
            <div class="row">
                <div class=" col-lg-12">
                    <!-- Salute + Small stats -->
                    <div class="row align-items-center mb-4">
                        <div class="col-md-5 mb-4 mb-md-0">
                            <span class="h2 mb-0 text-white d-block">Morning, Heather</span>
                            <span class="text-white">Have a nice day!</span>
                        </div>
                        <div class="col-auto flex-fill d-none d-xl-block">
                            <ul class="list-inline row justify-content-lg-end mb-0">
                                <li class="list-inline-item col-sm-4 col-md-auto px-3 my-2 mx-0">
                                    <span class="badge badge-dot text-white">
                                      <i class="bg-success"></i>Sales
                                    </span>
                                    <a class="d-sm-block h5 text-white font-weight-bold pl-2" href="#">
                                        20.5%
                                        <small class="far fa-angle-up text-success"></small>
                                    </a>
                                </li>
                                <li class="list-inline-item col-sm-4 col-md-auto px-3 my-2 mx-0">
                                    <span class="badge badge-dot text-white">
                                      <i class="bg-warning"></i>Tasks
                                    </span>
                                    <a class="d-sm-block h5 text-white font-weight-bold pl-2" href="#">
                                        5.7%
                                        <small class="far fa-angle-up text-warning"></small>
                                    </a>
                                </li>
                                <li class="list-inline-item col-sm-4 col-md-auto px-3 my-2 mx-0">
                                    <span class="badge badge-dot text-white">
                                      <i class="bg-danger"></i>Sales
                                    </span>
                                    <a class="d-sm-block h5 text-white font-weight-bold pl-2" href="#">
                                        -3.24%
                                        <small class="far fa-angle-down text-danger"></small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include('footer') %>
